{% load static %}

<div class="main">
	<div class="top-head">
    <div class="container-fluid">
   	  <div class="th-wrap">
   	  		<div class="th-nav-wrap">
        		<a href="#" class="th-menu"><i class="material-icons">menu</i></a>
                <div class="th-nav" id="myTopnav">
                    <ul class="thn-links">
                      <li class="thn-main"><a href="/">Home</a> </li>
                      <hr style="margin: 5px;">
                        <li class="thn-main"><a href="/category4/8 ">Notebooks / Stationary  </a>
                        </li>
                        <li class="thn-main"><a href="javscript:void(0)">5-10th class<i class="dropdown-arrow-down"></i></a>
                          <ul class="thn-subnav">
                            <li><a href="/category1/11">5 th</a></li>
                            <li><a href="/category1/12">6 th</a></li>
                            <li><a href="/category1/13">7 th</a></li>
                            <li><a href="/category1/1">8 th</a></li>
                            <li><a href="/category1/2">9 th</a></li>
                            <li><a href="/category1/5">10 th</a></li>
                            <hr class="nav-hr">
                            </ul>
                        </li><li class="thn-main"><a href="javscript:void(0)">11-12th class<i class="dropdown-arrow-down"></i></a>
                          <ul class="thn-subnav">
                                <li><a href="/category2/3">11th</a></li>
                                  <li><a href="/category2/4">12 th</a></li>
                                  <hr class="nav-hr">
                          </ul>
                        </li>
                        <li class="thn-main"><a href="/category3/6">Neet /Jee / Mh-Cet</a>
                        <li class="thn-main"><a href="/category5/10">Story / Biography Books</a>
                          <li class="thn-main"><a href="javscript:void(0)"> Science Stream <i class="dropdown-arrow-down"></i></a>
                            <ul class="thn-subnav">
                              <li><a href="/category6/14"> BSC IT</a></li>
                              <li><a href="/category6/15"> BSC COMP</a></li>
                              <li><a href="/category6/16"> BSC MATHS</a></li>
                              <li><a href="/category6/17"> BSC PHYSICS</a></li>
                              <li><a href="/category6/18"> BSC CHEMISTRY</a></li>
                              <li><a href="/categryo6/19"> BSC BOTANY </a></li>
                              <li><a href="/category6/20"> BSC ZOOLOGY</a></li>
                              <hr class="nav-hr">
                            </ul>
                          </li>
                          <li class="thn-main"><a href="javscript:void(0)">Commerce Stream<i class="dropdown-arrow-down"></i></a>
                            <ul class="thn-subnav">
                              <li><a href="/category7/21"> BCOM</a></li>
                              <li><a href="/category7/22"> BMS</a></li>
                              <li><a href="/category7/23"> BBI</a></li>
                              <li><a href="/category7/24"> BAF</a></li>
                              <li><a href="/category7/25"> BBA</a></li>
                              <li><a href="/category7/26"> BCA </a></li>
                              <li><a href="/category7/27"> BFM</a></li>
                              <hr class="nav-hr">
                            </ul>
                          </li>
                          <li class="thn-main"><a href="javscript:void(0)">Arts Stream <i class="dropdown-arrow-down"></i></a>
                            <ul class="thn-subnav">
                              <li><a href="/category8/28"> BA </a></li>
                              <hr class="nav-hr">
                            </ul>
                          </li>
                        <li class="thn-main"><a href="/requestbook">Request a Book</a>
                        <hr class="nav-hr">
                        </li>

                        <li class="thn-main"><a href="/myorders">My order</a>
                        <li class="thn-main"><a href="/wishlist">My Whishlist</a>
                        <li class="thn-main"><a href="/myaccount">My Account</a>
                        <hr class="nav-hr">
                        <li class="thn-main"><a href="/privacy">Privacy Policy</a>
                        <li class="thn-main"><a href="/aboutus">Contact Us</a>
                        <li class="thn-main"><a href="{% url 'logout' %}" data-toggle="modal" data-target="#myModal">Logout</a>
                    </ul>
                </div>
       		</div>
        	<div class="th-logo">
            	<a href="{% url 'Ecom:index' %}"><img src="{% static 'imgs/logo.png' %}" alt="PLUSCROWN" title="PLUSCROWN"></a>
          	</div>
            <div class="th-search th-search-desk">
            	<form>
                	<div class="th-search-wrap">
                        <input type="text" name="Search" class="ths-text">
                        <input type="submit" value="Search" name="search" class="ths-btn">
                    </div>
                </form>
            </div>
            {% if user.is_authenticated %}
              <a href="/myaccount" class="th-login"> HEY {{ user.username }}</a>   
            {% else %}
            <a href="{% url 'login' %}" class="th-login">Login/Signup</a>
            {% endif %}
            <a href="/mycart" class="th-cart">
            	<img src="{% static 'imgs/cart.png' %}" alt="Cart" title="Cart">
                <span>1</span>
            </a>
            <div class="th-search th-search-mob">
            	<form>
                	<div class="th-search-wrap">
                        <input type="text" name="Search" class="ths-text">
                        <input type="submit" value="Search" name="search" class="ths-btn">
                    </div>
                </form>
            </div>
      </div>
    </div>
    </div>