@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
}

body,form,img,ul,li,h1,h2,h3,h4,h5,h6,p,a{
	margin:0;
	padding:0;
}

main,header,section,map,figure,footer{
	margin:0;
	padding:0;
	display:block;
}

*,*:before,*:after{
	box-sizing:border-box;
}

.clear{
	clear:both;
}


blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}