{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="content-wrap">
    <div class="cart">
        <div class="container-fluid">

            <div class="not-found-popup">
                <!-- style="margin-left:240px;width:540px; height:500px; -->
                <h3>Error 404</h3>
                <p>Sorry, Page not Found</p>
                <figure>
                    <img width="100%" style="max-width: 300px;" class="rounded" src="{% static 'imgs/order-placed.jpg' %}">
                </figure>
                <a href="#" class="gobac-beg">Go back to PLUSCROWN ZONE</a>
            </div>
        </div>
    </div>
    <a href="#" id="scroll" style="display: none;"><img src="{% static 'imgs/back-to-top.png' %}" alt="Back to Top" title="Back to Top"></a>
</div>
{% endblock %}

   