{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="content-wrap">
        <div class="container">
            <div class="payment-wrapper" style="background-color: white;">
                <div class="tab_container">
                    <div id="tab3" class="tab_content" style="display: none;">

                        <div class="mb-3">
                            <h1 class="title"><img src="{% static 'imgs/aboutsus.png' %}" height="50px" width="50px"> About Us :-</h1>
                            <!-- <hr class="aboutruler"> -->
                            <hr style="margin-top: .75rem">
                            <!-- <br> -->
                        </div>
                        <div class="">
                            <p>Pluscrown is an e-commerce web portal where we thrive to provide educational related materials and stationary from local retailers and suppliers for the sutdents to have easy access to educational products.</p>
                            <p>We provide all stream books for 11th & 12th stds.</p>
                            <p>we deliver books at your door steps.</p>
                            <p>If you are facing any trouble finding any books then you Contact Us or mail us.</p>
                            <p>We strive to achieve customer satisfaction by completing easy user-friendly website, Quick and user-friendly payment methods and easy tracking options. Thanks for visiting our website. </p>
                        </div>

                        <div style="text-align: right; padding-right:10px;">
                                    <img src="{% static 'images/logo.png'%}" height="50px">
                                </div>
                        <!-- <img src="images/logo.png" height="30%" width="30%" style="float: right; padding: 8px;padding-bottom: 14px;"> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" id="scroll" style="display: none;"><img src="{% static 'imgs/back-to-top.png' %}" alt="Back to Top" title="Back to Top"></a>
</div>
{% endblock %}