{% extends 'base.html' %} {% load static %}  {% block content %}
  <div class="content-wrap">
      <div class="container-fluid">

        <div class="payment-wrapper">

                        <div class="tab_container tab_container_white">

                            <div id="tab3" class="tab_content">
                                <h2 class="title-left" style=" margin-top:12px;"> <img src="{% static 'imgs/addressbook.png'%}" width="50px" height="50px"> &ensp; Add new Address :- </h2>
                                <br>
                                <hr class="addaddressruler">
                                <div class="addresses-wrap">
                                    <div class="delivery-details">
                                        <form class="new-address">
                                            <h5 class="na-title"> &ensp; Contact Info :-</h5>
                                            <br>

                                            <div class="col-xs-12">
                                                <input type="text" name="name" placeholder="Name" required>
                                            </div>
                                            <div class="col-xs-12">
                                                <input type="text" name="Phone Number" placeholder="Phone Number" required>
                                            </div>
                                            <h5 class="na-title"> &ensp; Address Info :-</h5>
                                            <br>

                                            <div class="col-xs-12">
                                                <input type="text" name="locality" placeholder="Locality / Area / street" required>
                                            </div>
                                            <div class="col-xs-12">
                                                <input type="text" name="flatno" placeholder="Flat no. / Building name " required>
                                            </div>
                                            <div class="col-xs-12">
                                                <input type="text" name="landmark" placeholder="Landmark(Optional)"value="jfvbfx">
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <input type="text" name="pincode" placeholder="Pincode" required>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <input type="text" name="city" placeholder="City" required>
                                            </div>
                                            <h5 class="na-title"> &ensp;Type of Address :-</h5>
                                            <br>
                                            <div class="col-xs-12 address-type" style="display: inline-flex; padding-left:14px;">
                                                <div class="row">
                                                    <div class="col-xs-3">
                                                        <label style="white-space: nowrap;"> 
                                                        <input type="radio" name="addresstype" value="home"> Home</label>

                                                    </div>
                                                    <div class="col-xs-3">

                                                        <label style="white-space: nowrap;"> 
                                                        <input type="radio" name="addresstype" value="office">
                                                            Office</label>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <label style="white-space: nowrap;"> 
                                                        <input type="radio" name="addresstype" value="others">
                                                            Others</label>

                                                    </div>
                                                </div>
                                            </div>

                                            <!-- <div class="col-xs-12 address-type">
                      <input type="checkbox" name="deafaultadd"><label class="select-add-type"> Mark as Default Address</label>
                    </div>-->
                                            <div class="col-xs-12 login-button">
                                                <input type="submit" name="saveadd" value="Save Address" class="sub-address">
                                            </div>
                                        </form>

                                    </div>
                                    <!-- </div> -->
                                </div>
                                <!-- Save address ends -->
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#" id="scroll" style="display: none;"><img src="{% static 'imgs/back-to-top.png'%}" alt="Back to Top" title="Back to Top"></a>
            </div>
    {% endblock %}