{% extends 'base.html' %} {% load static %}  {% block content %}
  <div class="content-wrap cntus">
      <div class="container-fluid">

        <div class="payment-wrapper">

                        <div class="tab_container tab_container_white">

                            <div id="tab3" class="tab_content">
                                <h2 class="title-left" style=" margin-top:12px;"> <img src="{% static 'imgs/addressbook.png'%}" width="50px" height="50px"> &ensp; Add new Address :- </h2>
                                <br>
                                <hr class="addaddressruler">
                                <div class="addresses-wrap">
                                    <div class="delivery-details">
                                        <form class="new-address">
                                            <h5 class="na-title"> &ensp; Contact Info :-</h5>
                                            <br>

                                            <div class="col-xs-12">
                                                <input type="text" name="name" placeholder="Name" required>
                                            </div>
                                            <div class="col-xs-12">
                                                <input type="text" name="Phone Number" placeholder="Phone Number" required>
                                            </div>
                                            <h5 class="na-title"> &ensp; Address Info :-</h5>
                                            <br>

                                            <div class="col-xs-12">
                                                <input type="text" name="locality" placeholder="Locality / Area / street" required>
                                            </div>
                                            <div class="col-xs-12">
                                                <input type="text" name="flatno" placeholder="Flat no. / Building name " required>
                                            </div>
                                            <div class="col-xs-12">
                                                <input type="text" name="landmark" placeholder="Landmark(Optional)">
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <input type="text" name="pincode" placeholder="Pincode" required>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <input type="text" name="city" placeholder="City" required>
                                            </div>
                                            <h4 class="na-title">&ensp; Standard & Division</h4>
                                            <br>
                                            <div class="col-xs-12 col-sm-6 login-button">

                                            <select style="width: 100%;
    background-color: #ffffff;
    border: 1px
px
 solid rgba(112, 112, 112, 0.5);
    border-radius: 7px;
    padding: 8px;
    color: #47366f;
    font-size:18px;
    margin-bottom:10px;">
  <option selected>Select Standard</option>
  <option value="1">5th</option>
  <option value="2">6th</option>
  <option value="3">7th</option>
  <option value="4">8th</option>
  <option value="5">9th</option>
  <option value="6">10th</option>
  <option value="7">11th</option>
  <option value="8">12th</option>
</select>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 login-button">
                                            <select style="width: 100%;
    background-color: #ffffff;
    border: 1px
px
 solid rgba(112, 112, 112, 0.5);
    border-radius: 7px;
    padding: 8px;
    color: #47366f;
    font-size:18px;
    margin-bottom:10px;">
  <option selected>Select Division</option>
  <option value="1">A</option></option>
  <option value="2">B</option>
  <option value="3">C</option>
  <option value="4">D</option>
  <option value="5">E</option>
  <option value="6">F</option>
  <option value="7">G</option>
  <option value="8">H</option>
  <option value="9">I</option>
</select>
                                            </div>
                                            <br>
                                            <br>
                                            <h5 class="na-title"> &ensp;Type of Address :-</h5>
                                            <br>
                                            <div class="col-xs-12 address-type" style="display: inline-flex; padding-left:14px;">
                                                <div class="row">
                                                    <div class="col-xs-3">
                                                        <label style="white-space: nowrap;">
                                                        <input type="radio" id="Home" name="addresstype" value="home"> Home</label>

                                                    </div>
                                                    <div class="col-xs-3">

                                                        <label style="white-space: nowrap;">
                                                        <input type="radio" id="Office" name="addresstype" value="office">
                                                            Office</label>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <label style="white-space: nowrap;">
                                                        <input type="radio" id="Other" name="addresstype" value="others">
                                                            Others</label>

                                                    </div>
                                                </div>
                                            </div>

                                            <!-- <div class="col-xs-12 address-type">
                      <input type="checkbox" name="deafaultadd"><label class="select-add-type"> Mark as Default Address</label>
                    </div>-->
                                            <div class="col-xs-12 login-button">
                                              {% comment %}  <input type="submit"  name="saveadd" value="Save Address" class="sub-address"> {% endcomment %}
                                                 <button  onclick="addaddress({{user.id}})" name="saveadd" value="Save Address" class="sub-address" style="width: 60% !important;">Save Address</button>
                                            </div>
                                        </form>

                                    </div>
                                    <!-- </div> -->
                                </div>
                                <!-- Save address ends -->
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#" id="scroll" style="display: none;"><img src="{% static 'imgs/back-to-top.png'%}" alt="Back to Top" title="Back to Top"></a>
            </div>


<script>
    function addaddress(user_id){
        //alert('Address Added');
        id = user_id
        console.log(id);
        var name = $('[name="name"]').val();
        console.log(name);
        var number = $('[name="Phone Number"]').val();
        console.log(number);
        var locality = $('[name="locality"]').val();
        console.log(locality);
        var flatno = $('[name="flatno"]').val();
        console.log(flatno);
        var landmark = $('[name="landmark"]').val();
        console.log(landmark);
        var pincode = $('[name="pincode"]').val();
        console.log(pincode);
        //city = $("city").val();
        var city = $('[name="city"]').val();
        console.log(city);
        var addtype = "H";
        console.log(addtype);
        $.ajax({
            type: 'POST',
            url: '/django/api/add_address/',
            data:
            {
                "customer_id": id,
                "name":name,
                "city":city,
                "line1":locality,
                "line2":flatno,
                "line3":landmark,
                "addpincode":pincode,
                "number":number,
                "addtype":"H",
            },
            success: function(msg){
                window.location = `/myaddressbook#`;
                alert('Address Successfully');

            window.location = `/myaddressbook#`;
            }
        });
        console.log("Success")
    }
      //element.parentNode.parentNode.parentNode.parentNode.remove();
    //   $.ajax({
    //         type: 'POST',
    //         url: '/django/api/add_address/',
    //         data:
    //         {
    //              "customer_id":id,
    //              "name":name,
    //              "city":city,
    //              "line1":flatno,
    //              "line2":locality,
    //              "line3":" h ",
    //               "addpincode":pincode,
    //               "number":number,
    //               "addtype":"H"
    //         },
    //         success: function(msg){
    //         console.log("address added")
    //         alert('Address Added Successfully');
    //         window.location = `/myaddressbook`
    //         }
    //     });

        </script>
    {% endblock %}