{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="main">
            <div class="content-wrap">
                <div class="payment-wrapper">
                    <div class="tab_container" style="background-color: white;">
                   
                        <div id="tab1" class="tab_content contact-us" style="display: block;">
                                <div class="">
                                    <h1 class="title"><img src="{% static 'images/contact.png' %}" height="41px" width="45px"> Contact Us :-</h1>
                                    <hr style="margin-top: .75rem;">
                                </div>
                                <p class="cu-phone"><a href="tel:9960622176"><b>9960622176</a></p>
                                <p class="cu-add"><span>627,Dream House kansai section</span><span>Ambernath (E), 421501</span><span>District</span></p>
                                <p class="cu-mail"><a href="mailto:Pluscrown58@Gmail.com">Pluscrown58@gmail.com</a></p>
                                <p class="cu-whatsapp"><a href="tel:9960622176">9960622176</a></p></b>
                                <img src="{% static 'imgs/2530832.jpg' %}" height="90%" width="90%" style="float: right;padding: 10px;">
                                <img src="{% static 'images/logo.png'%}" height="30%" width="30%" style="float: right;padding: 10px; margin-top: -81px; margin-bottom: -24px;">
                            </div>

                    </div>
                </div>
            </div>
            <a href="#" id="scroll" style="display: none;"><img src="{% static 'imgs/back-to-top.png' %}" alt="Back to Top" title="Back to Top"></a>
        </div>
{% endblock %}