{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="main">
            <div class="content-wrap">
                <div class="about-wrap">

                    <div class="payment-wrapper" style="background-color: white;">

                        <div class="tab_container">
                            <div id="tab2" class="tab_content" style="display: none;">
                                <div class="cart-title-wrap">
                                    <h1 class="title"><img src="imgs/qa.png" height="50px" width="50px" style="margin-top: -4px;"> FAQ's :-</h1>
                                    <hr class="faqruler">

                                </div>
                                <br>
                                <br>
                                <div class="collapse-wrap">
                                    <button type="button" class="collapsible">Why you should open account in Pluscrown?</button>
                                    <div class="content">
                                        <p>You can shop easily by visiting our website, But we recommend creating an account on pluscrown. With minimun details required. You can keep the track of your wishlist, receive the daily updates, offers and discounts justy for you.</p>
                                    </div>
                                </div>
                                <div class="collapse-wrap">
                                    <button type="button" class="collapsible">How do you pay at Pluscrown, Payment process in Pluscorwn.</button>
                                    <div class="content">
                                        <p>There are many ways you can make payments and you can trust our payment getways system. You can also opt. for cash on delivery method, We also accepts visa card, debit and credit cards.</p>
                                    </div>
                                </div>
                                <div class="collapse-wrap">
                                    <button type="button" class="collapsible">what are the delivery charges.</button>
                                    <div class="content">
                                        <p>Delivery charges are same for all products if you buy products worth Rs.300, You will not have to pay shipping charges and If you purchase the product less than 300rs then you have to pay a delivery fee of Rs.40.</p>
                                    </div>
                                </div>
                                <div class="collapse-wrap">
                                    <button type="button" class="collapsible">What is the estimated delivery time (ETA).</button>
                                    <div class="content">
                                        <p>We will thrive to deliver your product within 2 working days.</p>
                                    </div>
                                </div>
                                <div class="collapse-wrap">
                                    <button type="button" class="collapsible">How you can track your orders and check the status.</button>
                                    <div class="content">
                                        <p>Once you login in to your account, You can check the order you want to track and then select view order to see details after that click on track shipment.</p>
                                    </div>
                                </div>
                                <div class="collapse-wrap">
                                    <button type="button" class="collapsible"> How can I Cancel my order?</button>
                                    <div class="content">
                                        <p>You can cancel your order within 48hrs after placing it. Go to my orders select the product and click on cancel order option.</p>
                                    </div>
                                </div>
                                <div class="collapse-wrap">
                                    <button type="button" class="collapsible"> If I receive a defective or wrong item, Then How do I return it?</button>
                                    <div class="content">
                                        <p>If you receive a defective or wrong product, You will go to your account and select the order you want to return and just click return option, We will collect the product from you.</p>
                                    </div>
                                </div>
                                <div class="collapse-wrap">
                                    <button type="button" class="collapsible">How can I contact Pluscrown Customer Support?</button>
                                    <div class="content">
                                        <p>You can find our contact details on our Contact Us page, Along with the Customer Support no.</p>
                                    </div>
                                </div>
                                <div class="collapse-wrap">
                                    <button type="button" class="collapsible">Which products are not eligible for return policy?</button>
                                    <div class="content">
                                        <p>Products that are less than Rs 200 are not eligible for returns.</p>
                                    </div>
                                </div>
                                <div class="collapse-wrap">
                                    <button type="button" class="collapsible">How can I bulk order products for Corporate sectors?</button>
                                    <div class="content">
                                        <p>You can write to "email to be inserted" for your Corporate order requirements.</p>
                                    </div>
                                </div>
                                <div class="collapse-wrap">
                                    <button type="button" class="collapsible">I missed the delivery of my order today. What should I do?</button>
                                    <div class="content">
                                        <p>Your order will be delivered within next day of your current delivery date, I you missed it.</p>
                                    </div>
                                </div>
                                <div class="collapse-wrap">
                                    <button type="button" class="collapsible"> I missed the delivery of my order today. What should I do?</button>
                                    <div class="content">
                                        <p>Your order will be delivered within next day of your current delivery date, I you missed it.</p>
                                    </div>
                                </div>
                                <div class="collapse-wrap">
                                    <button type="button" class="collapsible">What should I do if my order is approved but hasn't been shipped yet?</button>
                                    <div class="content">
                                        <p>We send orders within 1-2 business days before the delivery date so that they can reach you on time. If your order has not been sent within time, Then you can contact our Customer Support.</p>
                                    </div>
                                </div>
                                <div class="collapse-wrap">
                                    <button type="button" class="collapsible">How do I know my order has been confirmed?</button>
                                    <div class="content">
                                        <p>An confirmation e-mail & SMS will be sent to your registered mobile no. once you've successfully placed your order. We'll also let you know as soon as we ship the product to you along with the tracking Id. You can track the order from My Orders tab.</p>
                                    </div>
                                </div>
                                <div class="collapse-wrap">
                                    <button type="button" class="collapsible">Why do I need to enter my pincode?</button>
                                    <div class="content">
                                        <p>By knowing your pincode, We can easily deliver product to your location, And you can find out whether particular product delivery is available at your location or not.</p>
                                    </div>
                                </div>
                                <div class="collapse-wrap">
                                    <button type="button" class="collapsible">What about the Refunds If product is returned?</button>
                                    <div class="content">
                                        <p>You will receive the refund amount within 48hrs, As soon as we collect the product from you.</p>
                                    </div>
                                </div>
                                <div style="text-align: right;">
                                    <img src="{% static 'images/logo.png'%}" height="40px">
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <a href="#" id="scroll" style="display: none;"><img src="{% static 'imgs/back-to-top.png'%}" alt="Back to Top" title="Back to Top"></a>
        </div>
{% endblock %}