{% extends 'base.html' %} {% load static %} {% block extrahead %}
<title>PLUSCRWON </title>

{% endblock %} {% block content %}

<div class="content-wrap">
      <div class="home-slider-wrap">
        <div class="container-fluid">
         <div class="homeslider">
           <div class="hs-item">
             <div class="hs-content">
                <a href="#">
                <img src="{{ banner.0.homeban1.url }}" alt="The Schools Knick Knacks" title="The Schools Knick Knacks">
                </a>
             </div>
           </div>
           <div class="hs-item">
            <div class="hs-content">
              <a href="#">
              <img src="{{ banner.0.homeban1.url }}" alt="The Schools Knick Knacks" title="The Schools Knick Knacks">
              </a>
            </div>
           </div>
           <div class="hs-item">
             <div class="hs-content">
                <a href="#">
                <img src="{{ banner.0.homeban1.url }}" alt="The Schools Knick Knacks" title="The Schools Knick Knacks">
                </a>
             </div>
           </div>
           <div class="hs-item">
             <div class="hs-content">
               <a href="#">
                <img src="{{ banner.0.homeban1.url }}" alt="The Schools Knick Knacks" title="The Schools Knick Knacks">
                </a>
             </div>
           </div>
         </div>
       </div>
      </div>


        <div class="all-products">
            <div class="container-fluid">
                <div class="row">
                     <div class="col-sm-10 col-12 ">
                        <h2 class="title d-flex">New Arrivals :-</h2>
                    </div>
                    <div class="col-sm-2 col-12">
                        <a href="/showall" class="btn-view-all  ml-auto">Show All</a>
                    </div>

                    </div>
                    <style>
                    .prosliders .slick-slide {
                        padding: 8px;
                    }
                    </style>
                <div class="prosliders">
                    <div class="ap-item">
                        <a href="{% url 'Ecom:Productdetails' product1.0.id  %}">
                        <figure class="ap-img">
                            <img src="{{ product1.0.img.url }}" alt="" title="">
                        </figure>
                        </a>
                        <div class="ap-desc">
                           <a href="{% url 'Ecom:Productdetails' product1.0.id  %}" class="ap-title">{{ product1.0.title }}</a>

                            <p class="ap-price">Rs. {{ product1.0.price }} <strike>{{ product1.0.mrp }}</strike> <span class="product-offer">{{ product1.0.discount_per }}% off</span></p>
                        </div>
                        <span class="ap-new-arrival">New</span>
                        {% if product1.0.id  in wishlisted_ids %}
                            <a href="#" class="product-add-wishtlist wishlisted"></a>
                        {% else %}
                            <a href="#" class="product-add-wishtlist"></a>
                        {% endif %}
                        
                    </div>
                    {% for i in product1|slice:"1:" %}
                    <div class="ap-item">
                        <a href="{% url 'Ecom:Productdetails' i.id  %}">
                        <figure class="ap-img">
                            <img src="{{ i.img.url }}" alt="" title="">
                        </figure>
                        </a>
                        <div class="ap-desc">
                            <a href="{% url 'Ecom:Productdetails' i.id  %}" class="ap-title">{{ i.title }}</a>
                            <p class="ap-price">Rs. {{ i.price }} <strike>{{ i.mrp }}</strike> <span class="product-offer">30% off</span></p>
                        </div>
                        <span class="ap-new-arrival ap-trending">Trending</span>
                        {% if i.id  in wishlisted_ids %}
                            <a href="#" class="product-add-wishtlist wishlisted"></a>
                        {% else %}
                          <a href="#" class="product-add-wishtlist"></a>
                        {% endif %}
                                                </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="all-products">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-10 col-12 ">
                        <h2 class="title d-flex">Deals of the Day :-</h2>

                    </div>
                    <div class="col-sm-2 col-12">
                        <a href="/showalldemo" class="btn-view-all  ml-auto">Show All</a>
                    </div>

                </div>
                <div class="prosliders">
                    <div class="ap-item">
                        <a href="{% url 'Ecom:Productdetails' product2.0.id  %}">
                        <figure class="ap-img">
                            <img src="{{product2.0.img.url}}" alt="" title="">
                        </figure>
                        </a>
                        <div class="ap-desc">
                           <a href="{% url 'Ecom:Productdetails' product2.0.id  %}" class="ap-title">{{ product2.0.title }}</a>
                            <p class="ap-price">Rs. {{ product2.0.price }} <strike>{{ product2.0.mrp }}</strike> <span class="product-offer">{{ product2.0.discount_per }}% off</span></p>
                        </div>
                        <span class="ap-new-arrival">New</span>
                        <a href="#" class="product-add-wishtlist"></a>
                    </div>
                    {% for i in product2|slice:"1:" %}
                    <div class="ap-item">
                        <a href="{% url 'Ecom:Productdetails' i.id  %}">
                        <figure class="ap-img">
                            <img src="{{i.img.url}}" alt="" title="">
                        </figure>
                        </a>
                        <div class="ap-desc">
                            <a href="{% url 'Ecom:Productdetails' i.id  %}" class="ap-title">{{ i.title }}</a>
                            <!--<p class="ap-title">-blue</p> -->

                            <p class="ap-price">Rs. {{ i.price }} <strike>{{ i.mrp }}</strike> <span class="product-offer">30% off</span></p>
                        </div>
                        <span class="ap-new-arrival ap-trending">Trending</span>
                        <a href="#" class="product-add-wishtlist"></a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="offer-banner">
        	<div class="container-fluid">
                <div class="ob-wrap">
                    <a href="#" > <img style="max-height: 400px;aspect-ratio: 4/2;" src="{% static 'imgs/Deal.gif' %}" alt="" title=""> </a>
                </div>
            </div>
        </div>


        <div class="all-products">
            <div class="container-fluid">
            <div class="row">
                    <div class="col-sm-10 col-12 ">
                        <h2 class="title d-flex">Story Tellers :-</h2>
                    </div>
                    <div class="col-sm-2 col-12">
                        <a href="/showalldemo" class="btn-view-all  ml-auto">Show All</a>
                    </div>

                </div>
                <div class="prosliders">
                    <div class="ap-item">
                    	<a href="{% url 'Ecom:Productdetails' product3.0.id  %}">
                    	<figure class="ap-img">
	                    	<img src="{{product3.0.img.url}}" alt="" title="">
                        </figure>
                        </a>
                        <div class="ap-desc">
                           <a href="{% url 'Ecom:Productdetails' product3.0.id  %}" class="ap-title">{{ product3.0.title }}</a>


                            <p class="ap-price">Rs. {{ product3.0.price }} <strike>{{ product3.0.mrp }}</strike> <span class="product-offer">{{ product3.0.discount_per }}% off</span></p>
                        </div>
                        <span class="ap-new-arrival">New</span>
                        <a href="#" class="product-add-wishtlist"></a>
                    </div>
                    {% for i in product3|slice:"1:" %}
                    <div class="ap-item">
                    	<a href="{% url 'Ecom:Productdetails' i.id  %}">
                    	<figure class="ap-img">
	                    	<img src="{{i.img.url}}" alt="" title="">
                        </figure>
                        </a>
                        <div class="ap-desc">
                            <a href="{% url 'Ecom:Productdetails' i.id  %}" class="ap-title">{{ i.title }}</a>


                            <p class="ap-price">Rs. {{ i.price }} <strike>{{ i.mrp }}</strike> <span class="product-offer">30% off</span></p>
                        </div>
                        <span class="ap-new-arrival ap-trending">Trending</span>
                        <a href="#" class="product-add-wishtlist"></a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="all-products">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-10 col-12 ">
                        <h2 class="title">Biography Books :-</h2>
                    </div>
                    <div class="col-sm-2 col-12">
                        <a href="/showalldemo" class="btn-view-all  ml-auto">Show All</a>
                    </div>

                </div>

                <div class="prosliders">
                    <div class="ap-item">
                        <a href="{% url 'Ecom:Productdetails' product4.0.id  %}">
                        <figure class="ap-img">
                            <img src="{{product4.0.img.url}}" alt="" title="">
                        </figure>
                        </a>
                        <div class="ap-desc">
                           <a href="{% url 'Ecom:Productdetails' product4.0.id  %}" class="ap-title">{{ product4.0.title }}</a>


                            <p class="ap-price">Rs. {{ product4.0.price }} <strike>{{ product4.0.mrp }}</strike> <span class="product-offer">{{ product4.0.discount_per }}% off</span></p>
                        </div>
                        <span class="ap-new-arrival">New</span>
                        <a href="#" class="product-add-wishtlist"></a>
                    </div>
                    {% for i in product4|slice:"1:" %}
                    <div class="ap-item">
                        <a href="{% url 'Ecom:Productdetails' i.id  %}">
                        <figure class="ap-img">
                            <img src="{{i.img.url}}" alt="" title="">
                        </figure>
                        </a>
                        <div class="ap-desc">
                            <a href="{% url 'Ecom:Productdetails' i.id  %}" class="ap-title">{{ i.title }}</a>


                            <p class="ap-price">Rs. {{ i.price }} <strike>{{ i.mrp }}</strike> <span class="product-offer">30% off</span></p>
                        </div>
                        <span class="ap-new-arrival ap-trending">Trending</span>
                        <a href="#" class="product-add-wishtlist"></a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>


        <div class="home-slider-wrap">
        <div class="container-fluid">
         <div class="homeslider">
           <div class="hs-item">
             <div class="hs-content">
                <a href="#">
                <img src="{{ banner.0.homeban1.url }}" alt="The Schools Knick Knacks" title="The Schools Knick Knacks">
                </a>
             </div>
           </div>
           <div class="hs-item">
            <div class="hs-content">
              <a href="#">
              <img src="{{ banner.0.homeban1.url }}" alt="The Schools Knick Knacks" title="The Schools Knick Knacks">
              </a>
            </div>
           </div>
           <div class="hs-item">
             <div class="hs-content">
                <a href="#">
                <img src="{{ banner.0.homeban1.url }}" alt="The Schools Knick Knacks" title="The Schools Knick Knacks">
                </a>
             </div>
           </div>
           <div class="hs-item">
             <div class="hs-content">
               <a href="#">
                <img src="{{ banner.0.homeban1.url }}" alt="The Schools Knick Knacks" title="The Schools Knick Knacks">
                </a>
             </div>
           </div>
         </div>
         </div>
         </div>

        <div class="all-products">
            <div class="container-fluid">
            <div class="row">
                    <div class="col-sm-10 col-12 ">
                        <h2 class="title d-flex">Notebooks :-</h2>
                    </div>
                    <div class="col-sm-2 col-12">
                        <a href="/showalldemo" class="btn-view-all  ml-auto">Show All</a>
                    </div>

                </div>
                <div class="prosliders">
                    <div class="ap-item">
                    	<a href="{% url 'Ecom:Productdetails' product5.0.id  %}">
                    	<figure class="ap-img">
	                    	<img src="{{product5.0.img.url}}" alt="" title="">
                        </figure>
                        </a>
                        <div class="ap-desc">
                           <a href="{% url 'Ecom:Productdetails' product5.0.id  %}" class="ap-title">{{ product5.0.title }}</a>
                            <p class="ap-price">Rs. {{ product5.0.price }} <strike>{{ product5.0.mrp }}</strike> <span class="product-offer">{{ product5.0.discount_per }}% off</span></p>
                        </div>
                        <span class="ap-new-arrival">New</span>
                        <a href="#" class="product-add-wishtlist"></a>
                    </div>
                    {% for i in product5|slice:"1:" %}
                    <div class="ap-item">
                    	<a href="{% url 'Ecom:Productdetails' i.id  %}">
                    	<figure class="ap-img">
	                    	<img src="{{i.img.url}}" alt="" title="">
                        </figure>
                        </a>
                        <div class="ap-desc">
                            <a href="{% url 'Ecom:Productdetails' i.id  %}" class="ap-title">{{ i.title }}</a>


                            <p class="ap-price">Rs. {{ i.price }} <strike>{{ i.mrp }}</strike> <span class="product-offer">30% off</span></p>
                        </div>
                        <span class="ap-new-arrival ap-trending">Trending</span>
                        <a href="#" class="product-add-wishtlist"></a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="all-products">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-10 col-12 ">
                        <h2 class="title">Stationary :-</h2>
                    </div>
                    <div class="col-sm-2 col-12">
                        <a href="/showalldemo" class="btn-view-all  ml-auto">Show All</a>
                    </div>

                </div>

                <div class="prosliders">
                    <div class="ap-item">
                        <a href="{% url 'Ecom:Productdetails' product6.0.id  %}">
                        <figure class="ap-img">
                            <img src="{{product6.0.img.url}}" alt="" title="">
                        </figure>
                        </a>
                        <div class="ap-desc">
                           <a href="#" class="ap-title">{{ product6.0.title }}</a>


                            <p class="ap-price">Rs. {{ product6.0.price }} <strike>{{ product6.0.mrp }}</strike> <span class="product-offer">{{ product6.0.discount_per }}% off</span></p>
                        </div>
                        <span class="ap-new-arrival">New</span>
                        <a href="#" class="product-add-wishtlist"></a>
                    </div>
                    {% for i in product6|slice:"1:" %}
                    <div class="ap-item">
                        <a href="{% url 'Ecom:Productdetails' i.id  %}">
                        <figure class="ap-img">
                            <img src="{{i.img.url}}" alt="" title="">
                        </figure>
                        </a>
                        <div class="ap-desc">
                            <a href="{% url 'Ecom:Productdetails' i.id  %}" class="ap-title">{{ i.title }}</a>
                            <p class="ap-price">Rs. {{ i.price }} <strike>{{ i.mrp }}</strike> <span class="product-offer">30% off</span></p>
                        </div>
                        <span class="ap-new-arrival ap-trending">Trending</span>
                        <a href="#" class="product-add-wishtlist"></a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>


        <div class="shop-by-brands">
                    <div class="container-fluid">
                        <h2 class="title">Shop By Brand :-
                            <!-- <a href="#" class="btn-view-all">View All</a> -->
                        </h2>
                        <div class="prosliders">
                            <div>
                                <div class="sbb-item">
                                    <a href="#">
                                        <img src="{% static 'imgs/cello.png'%}">
                                    </a>
                                </div>
                            </div>
                            <div>
                                <div class="sbb-item">
                                    <a href="#">
                                        <img src="{% static 'imgs/cello.png'%}">
                                    </a>
                                </div>
                            </div>
                            <div>
                                <div class="sbb-item">
                                    <a href="#">
                                        <img src="{% static 'imgs/cello.png'%}">
                                    </a>
                                </div>
                            </div>
                            <div>
                                <div class="sbb-item">
                                    <a href="#">
                                        <img src="{% static 'imgs/cello.png'%}">
                                    </a>
                                </div>
                            </div>
                            <div>
                                <div class="sbb-item">
                                    <a href="#">
                                        <img src="{% static 'imgs/cello.png'%}">
                                    </a>
                                </div>
                            </div>
                            <div>
                                <div class="sbb-item">
                                    <a href="#">
                                        <img src="{% static 'imgs/cello.png'%}">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <h3 class="fc-tagline">" An Investment in knowledge pays the best interest "</h3>
                    </div>
                </div>

                <a href="#" id="scroll" style="display: none;"><img src="{% static 'imgs/back-to-top.png' %}" alt="Back to Top" title="Back to Top"></a>
            </div>
{% endblock %}