{% extends 'base.html' %} {% load static %}  {% block content %}

<div class="content-wrap cancellation-section prddetl ">
                <div class="container">
                    <div class="payment-wrapper" style="background-color: white;">
                        <div class="tab_container">
                            <div id="tab2" class="tab_content" style="display: none;">
                                <div class="ordercanceltitle">
                                    <h1 class="title"> <img src="{% static 'imgs/ordercancel.png'%}" height="50px" width="50px" style="padding-top: -2px;"> Order Cancellation Policy :-</h1>
                                    <hr style="margin-top: .75rem">
                                </div>
                                <div class="cancetext">
                                    <ul style="padding-left: 1.5rem !important">
                                        <li>You can cancel your order, Before it is accepted by you.</li>
                                        <li>You can cancel your order, Before it is shipped or Dispatched along with a reason for cancelation.</li>
                                        <li>Those Who return any product, The amount will be credited automatically in your bank account within 48 hours. Those items which are to be returned or exchanged must be unused.</li>
                                    </ul>
                                </div>
                                <div class="footlogo">
                                <div style="text-align: right;">
                                    <img src="{% static 'images/logo.png'%}" height="50px">
                                </div>
                                </div>
                              </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <a href="#" id="scroll" style="display: none;"><img src="{% static 'imgs/back-to-top.png'%}" alt="Back to Top" title="Back to Top"></a>
        </div>
{% endblock %}