{% extends 'base.html' %} {% load static %} {% load ecom_filters %} {% block content %}
    
   <div class="content-wrap">
                <div class="container-fluid">
                    <p><a href="/myorders" class="back-order-link">Back to Orders</a></p>
                    <div class="order-details-wrap">
                        <div class="order-details-left">
                            <div class="order-items">
                                <div class="del-status-wrap">
                                    <div class="ds-content">
                                        <div>
                                            <div class="do-title">
                                                <h2 class="cd-title">{{ orders.get_order_status_display }}</h2>
                                            </div>
                                             {% if orders.order_completed %}
                                                {% comment %} <p>Delivered on {{orders.date_of_delivery | date}} <a href="#" class="invoice-link">Invoice</a> </p> {% endcomment %}
                                              {% else %}
                                                  <p>To be Delivered on {{order.date_of_delivery}} </p>
                                              {% endif %}
                                        </div>
                                        <a href="#" class="btn return-exchange disabled" role="button" aria-disabled="true">Return / Exchange</a>
                                    </div>
                                    <div class="ds-add-nm">
                                        <p>Shipping to</p>
                                        <p class="user-nm">{{orders.contact_name}}</p>
                                    </div>
                                </div>
                                {% for item in products_list %}
                                <div class="return-status" > 
                                    <div class="rs-img" style="padding-top:8px;" >
                                        <span>
                                            <img src="{{ item.image }}" alt="" title="">
                                        </span>
                                    </div>
                                    <div class="rs-content">
                                        
                                        <p class="rs-title"><a href="#">{{ item.name }}</a></p>
                                        <p><strong>{{ item.price}}</strong></p>

                                        <p class="rs-date"> Return / Exchange available till {{orders.date_of_delivery | plusdays }} <a href="#">Details</a></p>
                                        
                                    </div>
                                    
                                </div>
                                <hr class="orderdetailshr">
                                {% endfor %}
                            </div>
                            
                            {% comment %} <div class="order-items">
                                <div class="del-status-wrap">
                                    <div class="ds-content">
                                        <div>
                                            <div class="do-title">
                                                <h2 class="cd-title">Delivered</h2>
                                            </div>
                                            <p>Delivered 03 march 2022 <a href="#" class="invoice-link">Invoice</a></p>
                                        </div>
                                        <a href="#" class="btn return-exchange disabled" role="button" aria-disabled="true">Return / Exchange</a>
                                    </div>
                                    <div class="ds-add-nm">
                                        <p>Shipping to</p>
                                        <p class="user-nm">Chadwick</p>
                                    </div>
                                </div>
                                <div class="return-status">
                                    <div class="rs-img">
                                        <span>
                                            <img src="{{ order.products | img }}" alt="" title="">
                                        </span>
                                    </div>
                                    <div class="rs-content">
                                        <p class="rs-title"><a href="#">Sapiens : A Brief History of Humankind By Yuval Noah Harari</a></p>
                                        <p><strong>Rs 399</strong></p>

                                        <p class="rs-date">Return / Exchange window closed on Saturday, 10 March. <a href="#">Details</a></p>
                                    </div>
                                </div>
                            </div> {% endcomment %}
                        </div>
                        <div class="order-details-right">
                            <div class="del-order-status">
                                <div class="do-details">
                                    <p class="do-id">Order ID : #000{{orders.id}}</p>
                                    <p>Order Placed {{orders.date_of_ordering | date}}</p>
                                    <p>Paid on cash on delivery </p>
                                </div>
                                <div class="do-total">
                                    <p>Order Total : Rs {{orders.order_total}} </p>
                                </div>
                            </div>
                            <div class="del-order-status">
                                <div class="do-details">
                                    <p class="do-id">Delivered To : </p>
                                    <p class="user-nm">{{orders.contact_name}}</p>
                                    <p>{{orders.address}}</p>
                                    <p>Phone - <strong>{{orders.contact_no}}</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#" id="scroll" style="display: none;"><img src="{% static 'imgs/back-to-top.png'%}" alt="Back to Top" title="Back to Top"></a>
            </div>
{% endblock %}