{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="content-wrap">
                <div class="about-wrap">
                    <div class="payment-wrapper">

                        <div class="tab_container" style="background-color: white;">
                            <div id="tab3" class="tab_content" style="display: none;">
                                <div class="cart-title-wrap">
                                    <h1 class="title"><img src="{% static 'imgs/secure-payment.png'%}" height="30px" width="30px" style="padding-top:-8px;"> Privacy Policy :- </h1>
                                    <hr class="privacyruler">
                                    <br>
                                </div>

                                <ul style="padding-left: 34px !important;padding-right:10px;">
                                    <li>We are very glad that you love our work. Data protection is high priority for the management team of Pluscrown.</li>
                                    <li>We always value your trust upon us. We do not share or sell your Personal information to third-party Agencies. We have set the highest standards of secure transactions and customer information privacy.</li>
                                    <li>This Website includes Copyrighted Content, such as text, graphics, logos, icons, images and is property of Pluscrown.</li>
                                    <li>What information do we collect from our customers?<br>
                                        When you use our Platform, we collect and store your information which is provided by you during Sign-up and Registraton. In general, you can browse the Platform without any details or revealing any personal information about yourself. Once you Register with us, Our main objective behind this is to provide you safe, efficient and customized shopping experience through. We collect personal information such as
                                        <ul style="padding-left: 10px !important;">
                                            <li>Email address</li>
                                            <li>First name and Last name</li>
                                            <li>Phone number</li>
                                            <li>Address, State, Province, ZIP/Postal code, City</li>
                                            <li>Cookies and Usage Data.</li>
                                        </ul>
                                    </li>
                                    <li>We need your prefered information in order to improve our services and experiences within our Sites.</li>
                                    <li>We automatically collect and store certain types of information about you and your activity on Pluscrown, Including information about your interaction with content available through Pluscrown.</li>
                                    <li>We use your personal infor mation to communicate with you in relation to Pluscrown (e.g.- by Phone, E-mail, Chats).</li>

                                    <li>Security :-
                                       <ul style="padding-left: 10px !important;">
                                            <li>We provide strict security standards in order to protect the misuse or changes in the information you provided us.</li>
                                            <li>Whenever you access your account information, we offer the use of a secure server.</li>
                                            <li>When you access our website we provide you with the secure web access.</li>
                                            <li>It is important for you to be aware, against unauthorized access to your password and to your computers, devices and applications.</li>
                                            <li>In order to maintain security, We suggest you not share your registered Passwords, This may result in change of the information provided by you, and may be misused by others.</li>
                                            <li>Once the information is in our database, We do not change it. Only authorized user can make a change.</li>
                                            <li>We work to protect the security of your personal information during transmission by using encryption protocols and software.</li>
                                            <li>Our devices offer security features to protect them against unauthorized access and loss of data.</li>
                                            <li>It is important for you to be aware against unauthorized access in your Account, Computers, devices and applications.</li>
                                        </ul>
                                    </li>

                                    <li>Changes to this Privacy Policy :-
                                       <ul style="padding-left: 10px !important;">
                                            <li>Please check our Privacy Policy time to time. We may update this Privacy Policy to reflect changes to our information practices.</li>
                                        </ul>
                                    </li>

                                    <li>Children's Privacy :-
                                        <ul style="padding-left: 10px !important;">
                                            <li>Our Service does not address anyone under the age of 18.</li>
                                            <li>We do not collect personally identifiable information from anyone under the age of 18.</li>
                                            <li>Queries<br>
                                                If you have a query, issue, concern, or complaint in usage of your personal information under this Privacy Policy, please contact us or E-mail us.
                                            </li>
                                        </ul>
                                    </li>
                                </ul>

                                {% comment %} <div class="collapse-wrap">
                                    <button type="button" class="collapsible">Security:</button>
                                    <div class="content">
                                        <ul>
                                            <li>We provide strict security standards in order to protect the misuse or changes in the information you provided us.</li>
                                            <li>Whenever you access your account information, we offer the use of a secure server.</li>
                                            <li>When you access our website we provide you with the secure web access.</li>
                                            <li>It is important for you to be aware, against unauthorized access to your password and to your computers, devices and applications.</li>
                                            <li>In order to maintain security, We suggest you not share your registered Passwords, This may result in change of the information provided by you, and may be misused by others.</li>
                                            <li>Once the information is in our database, We do not change it. Only authorized user can make a change.</li>
                                            <li>We work to protect the security of your personal information during transmission by using encryption protocols and software.</li>
                                            <li>Our devices offer security features to protect them against unauthorized access and loss of data.</li>
                                            <li>It is important for you to be aware against unauthorized access in your Account, Computers, devices and applications.</li>
                                        </ul>
                                    </div>
                                </div> 

                                <div class="collapse-wrap">
                                    <button type="button" class="collapsible">Changes to this Privacy Policy</button>
                                    <div class="content">
                                        <p>Please check our Privacy Policy time to time. We may update this Privacy Policy to reflect changes to our information practices.</p>
                                    </div>
                                </div>

                                <div class="collapse-wrap">
                                    <button type="button" class="collapsible">Children's Privacy</button>
                                    <div class="content">
                                        <ul>
                                            <li>Our Service does not address anyone under the age of 18.</li>
                                            <li>We do not collect personally identifiable information from anyone under the age of 18.</li>
                                            <li>Queries<br>
                                                If you have a query, issue, concern, or complaint in usage of your personal information under this Privacy Policy, please contact us or E-mail us.
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                {% endcomment %}
                                <br>
                                <div style="text-align: right; padding-right:10px;">
                                    <img src="{% static 'images/logo.png'%}" height="50px">
                                </div>
                            </div>

                            <!-- <h3 class="tab_drawer_heading" rel="tab4">Terms & Conditions</h3>
      <div id="tab4" class="tab_content" style="display: none;">
          <ul>
              <li>All applicable terms and regulations is according to information technology act 2000.</li>
                <li>By accessing this website you are agreeing to be bound by these Web Terms and Conditions. </li>
                <li>We request you to read this carefully.</li>
                <li>You can visit website and services. However, downloading or modifying any portion of the website is strictly prohibited, And you can not make duplicate or copies.</li>
                <li>All rights, including copyright and the trademark "Pluscrown" in this website are owned by or licensed to Pluscrown PRIVATE LIMITED.</li>
                <li>All our communication would be conducted by e-mails or by posting notices and messages on the website.</li>
                <li>If you believe that your intellectual property rights have been unfairly used which gives rise to security concerns, please contact us for the correct information or inquiry.</li>
                <li>The website is available only to those who can legally contract under applicable law. If you are under 18, you are prohibited from using purchasing contracting from this website.</li>
            </ul>
      </div> -->

                        </div>
                    </div>
                </div>
            </div>
            <a href="#" id="scroll" style="display: none;"><img src="{% static 'imgs/back-to-top.png'%}" alt="Back to Top" title="Back to Top"></a>
        </div>
{% endblock %}