{% extends 'base.html' %} {% load static %}  {% block content %}

    <div class="content-wrap lgn">
                <div class="login-wrapper">
                    <div class="container-fluid">
                        <div class="lw-forms">
                            <div class="lw-wrap" id="lw-login-form">
                                <div class="lw-left">
                                    <p class="lw-title">Request for books :-</p>
                                    <p>Here you can request for books that are not available or found in Pluscrown Application and Website</p>
                                    <div class="reviewimg">
                                        <img src="{% static 'imgs/reviews.png'%}" style="float:center ; padding-top : 40px" width="80%" height="40%">
                                    </div>
                                </div>
                                <div class="lw-right">
                                    <form>
                                        <div class="col-xs-12">
                                            <input type="text" name="book" placeholder="Book Name">
                                        </div>
                                        <div class="col-xs-12 login-button">
                                            <select>
                                                <option>Book Type</option>
                                                <option>TextBook</option>
                                                <option>Reference Book</option>
                                                <option>Study Material</option>
                                                <option>Novel</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-12 login-button">
                                            <select>
                                                <option>Book Related To</option>
                                                <option>State Board</option>
                                                <option>CBSE Board</option>
                                                <option>Entrance Exam</option>
                                                <option>Others</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-12 login-button descrip">
                                            <textarea placeholder="Description"></textarea>
                                        </div>
                                        <div class="col-xs-12 login-button">
                                            <input type="file">
                                        </div>
                                        <div class="col-xs-12 login-button">
                                            <input type="file">
                                        </div>
                                        <div class="col-xs-12">
                                            <input type="text" placeholder="Books required in days(dd)">
                                        </div>
                                        <div class="col-xs-12">
                                            <input type="text" name="cust-name" placeholder="Customer Name">
                                        </div>
                                        <div class="col-xs-12">
                                            <input type="text" name="cust-no" placeholder="Customer Number">
                                        </div>
                                        <div class="col-xs-12">
                                            <input type="text" name="cust-mail" placeholder="Customer Email">
                                        </div>
                                        <div class="col-xs-12" style="display: inline-flex;">
                                            <label><input style="height:15px;width:15px;margin-right:5px" type="checkbox" name="need"> Tick the box for urgent need of book. </label>
                                        </div>
                                        <div class="col-xs-12 login-button">
                                            <input type="submit" onclick="requestbook()" name="request" value="Place Request">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#" id="scroll" style="display: none;"><img src="{% static 'imgs/back-to-top.png' %}" alt="Back to Top" title="Back to Top"></a>
            </div>

            <script>
            function requestbook(){
                alert("book has been requested Successfully")
            }
            </script>

    {% endblock %}
