{% extends 'base.html' %}
{% load static %}
{% block extrahead %}

{% endblock %}
{% block content %}

        <div class="main">

  <div class="content-wrap">
    <div class="wishlis">
      <div class="container-fluid">
        <div class="wishlist-wrapper" >
              <div class="tab_container tab_container_white">

                   <div id="tab1" class="tab_content">
                             
          <h1 class="title" style="margin-bottom:23px;"> <img src="{% static 'images/checklist.png'%}" height="5%" width="5%" style="margin-top:-20px; margin-bottom:-4px;">  Wishlist:- &nbsp;
          </h1> 
          
          <div class="wishlist-table">
            {% if wishlist %}
              {% for item in wishlist %}
              <div class="wishlist-table-item" style="margin-top: -10px;">
                <div class="ci-img">
                  <figure>
                  <img src="{{ item.Product.img.url }}">
                  </figure>
                </div>
                <div class="wl-desc">
                  <p class="wl-title" style="margin-top: -10px; padding-bottom: 17px;"> <a href="{% url 'Ecom:Productdetails' item.Product.id %}">{{ item.Product.title }}</a></p>
                  <p class="wl-price">Rs {{ item.Product.price }}  <strike>Rs {{ item.Product.mrp }}</strike>  <span class="wl-off">{{ item.Product.discount_per }}% Off</span></p>
                  <p class="product-terms" style="padding-bottom: 14px;">Price inclusive of all Taxes</p>
                  <div class="wl-btn-wrap">
                    <a href="#" class="btn-wl-move" style="float:unset;margin-right:5px;" onclick="moveToCart({{item.Product.id}})">Move to Cart</a>
                    <a href="#" class="btn-wl-delete"  onclick="deleteFromWishlist({{item.Product.id}})">Delete</a>
                  </div>
                </div>
              </div>
              {% endfor %}
            {% comment %} {% else %}
            <!-- <h1 class="ec-title">Your Wishlist is Empty</h2> -->
              <div class="wishlist-table-item"></div>
                <p class="ec-txt">Your Wishlist is Empty</p>
              </div> {% endcomment %}
            {% endif %}
            
          </div>
          </div>
          </div>
        </div>
      </div>
  </div>
</div>
</div>
<a href="#" id="scroll" style="display: none;"><img src="{% static 'imgs/back-to-top.png' %}" alt="Back to Top" title="Back to Top"></a>
</div>
<script>
  function moveToCart(product_id){
      user_id = document.getElementById('user_id').value
      $.ajax({
          type: 'POST',
          url: '/django/api/add_to_cart/',
          data: { 
              "id": user_id,
              "product_id": product_id,
              "is_binding": "False"
          },
          success: function(msg){
              console.log('Item Moved to Cart');
              deleteFromWishlist(product_id);
              window.location = '/mycart'
          }
      });
    }
  function deleteFromWishlist(product_id){
    user_id = document.getElementById('user_id').value
      $.ajax({
          type: 'POST',
          url: '/django/api/remove_from_wishlist/',
          data: { 
              "id": user_id,
              "product_id": product_id
          },
          success: function(msg){
              console.log('Item Deleted from wishlist');
              window.location = '/wishlist'
          }
      });
  }
</script>

{% endblock %}
